@model IEnumerable<PJ_MSIT143_team02.ViewModel.CRoomViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>線上購物</h1>

<p>
    <a asp-action="CartView">檢視購物車</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomPrice)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @*<img src="~/images/@item.FImagePath" width="180" height="140" />*@
                        <br />
                        <h2>@Html.DisplayFor(modelItem => item.RoomName)</h2>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomPrice)
                    </td>
                    <td>
                        @Html.ActionLink("加入購物車", "AddToCart", new { id = item.RoomId })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
