@model IEnumerable<PJ_MSIT143_team02.Models.Comment>

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "List";
}
<h1 style="text-align:center">
    評論管理
</h1>
<hr />
<div class="container">

    <div class="forp">
        @using (Html.BeginForm())
        {
            @:關鍵字 @Html.TextBox("txtKey", "", new { @class = "form-control" }) <input type="submit" value="查詢" class="btn btn-secondary" />
        }
        <br />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    序列
                </th>
                <th>
                    評論者
                </th>
                <th>
                    評分
                </th>
                <th>
                    是否顯示
                </th>
                <th class="col-lg-4">
                    評論內容
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;
                foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MemberAccount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentPoint)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentStatus)
                        </td>
                        <td class="col-lg-4">
                            @Html.DisplayFor(modelItem => item.CommentDetail)
                        </td>
                        <td>
                            @Html.ActionLink("編輯", "Edit", new { id = item.CommentId }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("刪除", "Delete", "Comment", new { id = item.CommentId },
                            new { onclick = "return confirm('確定要刪除嗎?')", @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>$('#Comment').addClass('active');</script>
}