@model IEnumerable<PJ_MSIT143_team02.Models.Comment>

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "List";
}
<div class="container">
    <br />
    <p style="font-size:30px" class="forp">評論管理系統</p>
    <div class="forp">
        @using (Html.BeginForm())
        {
            @:關鍵字 @Html.TextBox("txtKey", "", new { @class = "form-control" }) <input type="submit" value="查詢" class="btn btn-secondary" />
        }
        <br />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    評論編號
                </th>
                <th>
                    評分
                </th>
                <th>
                    是否隱藏
                </th>
                <th colspan="4">
                    評論
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentPoint)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommentStatus)
                    </td>
                    <td colspan="4">
                        @Html.DisplayFor(modelItem => item.CommentDetail)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.CommentId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("刪除", "Delete", "Comment", new { id = item.CommentId },
                        new { onclick = "return confirm('確定要刪除嗎?')", @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>$('#Comment').addClass('active');</script>
}