@model IEnumerable<PJ_MSIT143_team02.Models.Member>


@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "會員清單";
}
<h1 style="text-align:center">
    會員清單
</h1>
<hr />
<div class="container">
    <p>
        <a asp-action="MemberCreate" class="btn btn-dark">建立會員</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    會員編號
                </th>
                <th>
                    會員帳號
                </th>
                <th>
                    姓名
                </th>
                <th>
                    生日
                </th>
                <th>
                    電話
                </th>
                <th>
                    信箱
                </th>
                <th>
                    權限
                </th>
                <th>
                    功能
                </th>
            </tr>
        </thead>
        <tbody>
            @using (Html.BeginForm())
            {
                <tr>
                    <td>
                        @Html.TextBox("KW_ID", "", new { @class = "form-control" })

                    </td>
                    <td>
                        @Html.TextBox("KW_MemberAccount", "", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBox("KW_MemberName", "", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBox("KW_MemberBirthDate", "", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBox("KW_MemberPhone", "", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBox("KW_MemberEmail", "", new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBox("KW_Authority", "", new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="查詢" class="btn btn-secondary" />
                    </td>
                </tr>
            }

        </tbody>
    </table>

    @{
        foreach (var item in Model)
        {
            <div style="border: solid;display: flex;float: left; padding: 5px;margin: 5px;width: 550px;">
                <div style="width: 250px;height: 250px;position: relative;">
                    <div style="position:absolute;top:0px;left:0px;background-color:ghostwhite;opacity:0.9;width: 100px;">會員編號:@Html.DisplayFor(modelItem => item.MemberId)</div>
                    <div style="position:absolute;bottom:0px;display:inline-flex ;background-color:ghostwhite;opacity:0.9;width: 250px;text-align:justify">
                        @Html.DisplayFor(modelItem => item.Authority) : @Html.DisplayFor(modelItem => item.MemberName)
                    </div>
                    @if (item.MemberImage == null)
                    {
                        <img id="Photo" style=" padding:5px;height:200px" src="~/img/Admin/unknown.png" />
                    }
                    else
                    {
                        <img id="Photo" style=" padding:5px;height:200px" src="@Url.Action("MemberPhoto", "Member", new { ItemId = item.MemberId })" />
                    }
                </div>
                <div style="width: 250px;height: 250px; ">
                    <div style="height: 180px; ">
                        <p style="margin:10px">帳號 : @Html.DisplayFor(modelItem => item.MemberAccount)</p>
                        <p style="margin:10px">生日 : @Html.DisplayFor(modelItem => item.BirthDate)</p>
                        <p style="margin:10px">電話 : @Html.DisplayFor(modelItem => item.MemberPhone)</p>
                        <p style="margin:10px">Email: @Html.DisplayFor(modelItem => item.MemberEmail)</p>
                    </div>
                    <div style="height: 30px;">
                        @Html.ActionLink("修改", "MemberEdit", new { MemberId = item.MemberId }, new { @class = "btn btn-primary", style = "margin:10px" })
                        |
                        @Html.ActionLink("刪除", "MemberDelete", new { MemberId = item.MemberId },
                                       new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger", style = "margin:10px" })
                    </div>
                </div>
            </div>

        } }
</div>


@section scripts
{
    <script>
        $('#Member').addClass('active');
    </script>

}

