@model PJ_MSIT143_team02.Models.Activity

@{ 
    ViewData["Title"] = "Details";
    //int count = 13;
    //int left = Model.ActivityCapacity - count;
    int left = Model.ActivityLeft;
    double cal = 0;
    double ac = Model.ActivityCapacity;
    if (left != 0)
    {
        cal = left / ac;
    }
 }

<style>
    .none {
        list-style-type: none;
        padding: 15px 0px 0px 15px;
    }

    .text-red {
        color: red;
    }
</style>


<link href="~/css/acti-and-disc.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />

<div id="mainbox">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>詳細活動資訊</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="rooms-section spad">
        <div class="container row" style="margin:auto">
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="room-item card">
                    <div id="textcard" class="card-body">
                        <h4 class="col-sm-10 card-title">
                            @Html.DisplayFor(model => model.ActivityName)
                        </h4>
                        <p class="col-sm-10 card-text">
                            活動日期: @Html.DisplayFor(model => model.ActivityDate)
                        </p>
                        <p class="col-sm-10 card-text">
                            活動地點: @Html.DisplayFor(model => model.ActivityLocation)
                        </p>
                        <p class="col-sm-10 card-text">
                            @{ if (Model.ActivityCapacity == 120)
                                {
                                    <span>剩餘人數/人數上限: @Html.DisplayFor(model => model.ActivityCapacity) / @Html.DisplayFor(model => model.ActivityCapacity) 人</span>
                                }
                                else if (Model.ActivityStatus == "開放報名")
                                {
<<<<<<< HEAD
                                    <span>剩餘人數/人數上限: @left / @Html.DisplayFor(model => model.ActivityCapacity) 人</span>
                        <p id="warning" class="text-red">&emsp; 即將額滿，報名從速 !</p>
=======
                                    <span>剩餘人數/人數上限: <span id="aleft">@left</span> / @Html.DisplayFor(model => model.ActivityCapacity) 人</span>
>>>>>>> master
                                }
                                else if (Model.ActivityStatus == "額滿")
                                { <span>報名人數已達名額上限</span>}
                                else if (Model.ActivityStatus == "未開放報名")
                                { <span>人數上限: @Html.DisplayFor(model => model.ActivityCapacity) 人</span>}
                            }

                            </p>
                            <p class="col-sm-10 card-text">
                                活動價格: 新台幣 @Html.DisplayFor(model => model.ActivityPrice) 元
                            </p>
                            <p class="col-sm-10 card-text">
                                目前狀態: @Html.DisplayFor(model => model.ActivityStatus)
                            </p>
                            <p class="col-sm-10 card-text">
                                活動介紹: @Html.DisplayFor(model => model.ActivityInfo)
                            </p>
                            <br />
                            @*</div>
            <div>*@
                            <ul class="ap-services">
                                @if (Model.ActivityStatus == "開放報名")
                                {
                                    <li class="none">
                                        加入人數:
                                        <button type="button" class="btn btn-secondary" id="actminus">-</button>
                                        <input type="text" id="actnum" style="text-align:center;width:30px" value="1">
                                        <button type="button" class="btn btn-secondary" id="actplus">+</button>
                                    </li>
                                }
                                <li class="none">
                                    @if (Model.ActivityCapacity > 0)
                                    {
                                        if (Model.ActivityStatus == "開放報名")
                                        {

                                            <button class="btn btn-secondary" id="add" style="text-decoration: none;">
                                                <span>我要參加</span>
                                            </button>
                                        }
                                        else if (Model.ActivityStatus == "已結束")
                                        {
                                            <br />
                                            <button class="btn btn-light" id="unable" style="text-decoration: none;">
                                                <span>活動已結束</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <br />
                                            <button class="btn btn-light" id="unable" style="text-decoration: none;">
                                                <span>無法參加</span>
                                            </button>
                                        }

                                    }
                                    else
                                    {
                                        <span id="cart" class="text-muted">商品缺貨中</span>
                                    }
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
            <div id="imgcard" class="col-lg-6 col-md-6 mb-4">
                <div class="room-item card">
                    <img id="setImg" class="card-img-top" />
                </div>
            </div>
            <div class="col-md-6">
                <a asp-action="ActivityDisplay" class="btn btn-light">回上頁</a>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $(function (){
            $("#setImg").attr("src", "../../Image/act" + @Html.DisplayFor(model => model.ActivityId) + ".jpg")
                setTimeout(function () {
                function reloadUsingLocationHash() {
                    window.location.hash = "reload";
                }
                window.onload = reloadUsingLocationHash();
                $("#textcard").height($("#imgcard").height() - 72);
            }, 5);
        });
    </script>

    <script>
        $(function (){
            if (@Html.DisplayFor(model => model.ActivityCapacity) < 1) {
                $("#actminus").attr("disabled", true);
                $("#actnum").attr("disabled", true);
                $("#actplus").attr("disabled", true);
            }
        })
        $("#actminus").click(function () {
            var i = Number($("#actnum").val());
            if(i > 1)
                i -= 1;
            $("#actnum").val(i);
        });
        $("#actplus").click(function () {
            var i = Number($("#actnum").val());
            if(i < Number($("#aleft").html()))
                i += 1;
            $("#actnum").val(i);
        });
        $("#add").click(function(){
            var s = {
                "ActivityId": Number(@Html.DisplayFor(model => model.ActivityId)),
                "count": Number($("#actnum").val()),
            };
            let data = JSON.stringify(s);
            $.ajax({
                 type: "GET",
                 url: "@Url.Content("~/Cart/AddActtoCart")"+`?inputact=${data}`,
                 success: ShowMessage()
            })
<<<<<<< HEAD
            @cal = 
            if (@cal < 0.34) {
                $("#warning").attr("hidden", false);}
=======

            let qty = Number(@left);
            let count = Number($("#actnum").val());
        $("#aleft").html(qty - count);


>>>>>>> master
        });
        function ShowMessage() {
            toastr["success"]("活動已加入購物車！");
        }
    </script>

}