@model IEnumerable<PJ_MSIT143_team02.Models.Activity>

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "List";
}
<div class="container">
    <br />
    <p style="font-size:30px">活動一覽表</p>
    <div class="forp">
        @using (Html.BeginForm())
        {
            @:關鍵字 @Html.TextBox("txtKeyword", "", new { @class = "form-control" }) <input type="submit" value="查詢" class="btn btn-secondary" />
        }
    </div>
    <p>
        <a asp-action="Create" class="btn btn-dark">新增活動</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    序
                </th>
                <th>
                    活動名稱
                </th>
                <th>
                    活動日期
                </th>
                <th class="col-lg-3">
                    活動資訊
                </th>
                <th>
                    人數上限
                </th>
                <th>
                    活動狀態
                </th>
                <th>
                    活動地點
                </th>
                <th>
                    活動價格
                </th>
                <th>
                    剩餘人數
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;

                    string mailcontent = "mailto:z47985641@gmail.com, Minsu@gmail.com, xinjinchi@gmail.com, Aaliyah@yahoo.com.tw, " +
                    "Agnes@gmail.com, Walter@gmail.com, Thomas@gmail.com, Julian@gmail.com, Urania@gmail.com, Rosalind@gmail.com, " +
                    "Dermot@gmail.com, Chrissie@gmail.com, Dottie@gmail.com, Elspeth @gmail.com, Glenda@gmail.com, Kirsten@gmail.com, " +
                    "Armstrong@gmail.com, Bartley@gmail.com, Broderick@gmail.com,  Francis@gmail.com" +
                    " ? cc=&subject=FindHotel訂房網活動電子報&" +
                    "body=親愛的顧客您好：%0D%0A %0D%0A %0D%0A   " +
                    "近期我們新增了一項活動:%0D%0A  %0D%0A         " +
                    item.ActivityName + "%0D%0A  %0D%0A         " +
                    "活動時間是"+ item.ActivityDate + "%0D%0A         " +
                    "地點在"+ item.ActivityLocation + " %0D%0A %0D%0A   " +
                    "誠摯邀請您與我們一起共襄盛舉~ %0D%0A  %0D%0A   " +
                    "詳細活動資訊請參考%0D%0A    " +
                    "https://localhost:44311/Activity/Details/"+ item.ActivityId + "#reload  %0D%0A   " +
                    "更多相關活動請洽本站活動頁面%0D%0A    " +
                    "https://localhost:44311/Activity/ActivityDisplay %0D%0A  %0D%0A" +
                    "祝福您假期愉快! %0D%0A" +
                    "FindHotel訂房網 %0D%0A %0D%0A  " +
                    "<----------------------------------------------------------->%0D%0A" +
                    "此郵件為系統自動發送，請勿直接回覆"
                    ;

                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityDate)
                            </td>
                            <td class="col-lg-3">
                                @Html.DisplayFor(modelItem => item.ActivityInfo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityCapacity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityLeft)
                            </td>
                            <td>
                                @if (item.ActivityStatus == "開放報名")
                                {@*{<a href="mailto:members@gmail.com ? cc=&subject=FindHotel訂房網活動電子報&body=親愛的顧客您好：%0D%0A %0D%0A %0D%0A   近期我們新增了一項活動:%0D%0A  %0D%0A         @item.ActivityName %0D%0A  %0D%0A         活動時間是 @item.ActivityDate  %0D%0A         地點在 @item.ActivityLocation %0D%0A         活動簡介如下: @item.ActivityInfo %0D%0A %0D%0A   誠摯邀請您與我們一起共襄盛舉~ %0D%0A  %0D%0A   詳細活動資訊請參考%0D%0A    https://localhost:44311/Activity/Details/@item.ActivityId#reload  %0D%0A   更多相關活動請洽本站活動頁面%0D%0A    https://localhost:44311/Activity/ActivityDisplay %0D%0A  %0D%0A祝福您假期愉快! %0D%0AFindHotel訂房網 %0D%0A %0D%0A  <----------------------------------------------------------->%0D%0A此郵件為系統自動發送，請勿直接回覆" class="fa fa-envelope">發送電子報</a>*@
                                <a href="@mailcontent" class="fa fa-envelope">發送電子報 </a> @*<span></span>*@

                            }
                            else
                            { <p>請先開放報名</p>}
                                @Html.ActionLink("修改", "Edit", new { id = item.ActivityId }, new { @class = "btn btn-primary" })  |
                                @Html.ActionLink("刪除", "Delete", new { id = item.ActivityId },
                               new { onclick = "return confirm('確定要刪除這項活動嗎?')", Class = "btn btn-danger" })
                            </td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    <br />
    <br />
    <br />
</div>
@section Scripts {
    <script>$('#Activity').addClass('active');</script>
}