@model IEnumerable<PJ_MSIT143_team02.ViewModels.房源及會員>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
<div>
    <p>　</p>
    <ul class="progressbar">
        <li class="active">購物車</li>
        <li>訂單資料</li>
        <li>建立訂單</li>
        <li>付款</li>
    </ul>
    <p>　</p>
    <p>　</p>
</div>
@{
    decimal sum = 0;
}
<div class="card shadow rounded">
    <h5 class="card-header">購物車</h5>
    <div class="card-body">
        @if (Model != null)
        {
            <table class="table">
                <thead class="table-borderless">
                    <tr>
                        <th>商品名稱</th>
                        @*<th>活動名稱</th>*@
                        <th>單價</th>
                        <th>數量</th>
                        <th>小計</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        sum += item.小計;

                    <tr>
                        <a class="RoomId d-none">@item.RoomId</a>
                        @*<td class="text-center"><img src="@Html.DisplayFor(modelItem => item.imageSrc)" height="30" /></td>*@
                        @if (item.ActivityId == 0)
                        {
                            <td class="RoomName">
                                @Html.DisplayFor(modelItem => item.RoomName)
                            </td>
}
                        else if (item.RoomId == 0)
                        {
                            <td class="RoomName">
                                活動:   @Html.DisplayFor(modelItem => item.ActivityName)
                            </td>
}

                        @*<td class="ActivityName">
            @Html.DisplayFor(modelItem => item.ActivityName)
        </td>*@
                        <td class="RoomPrice">
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td class="Qty">
                            @Html.DisplayFor(modelItem => item.count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.小計)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger" asp-action="RemoveItem" asp-route-Id="@item.RoomId">移除</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-center text-dark">購物車內尚無商品</p>
        }
        <hr />
        <div class="row">
            <div class="col-4 justify-content-around">
                <div class="input-group input-group-sm mb-2">
                    <span style="padding-top:6px">優惠碼：</span>
                    <input type="text" id="coupon" class="form-control" placeholder="coupon" name="coupon">
                    <a id="couponBtn" class="btn btn-primary btn-sm text-white" style="padding-left:14px;padding-right:14px;margin-left:56px">使用此優惠碼</a>
                </div>
            </div>
            <div class="col text-right pr-5"> <h5>總計： $ <span id="price">@sum.ToString("###,###,##0")</span></h5></div>
        </div>

    </div>
</div>
<p>　</p>
<div class="container">
    <p class="row justify-content-end" style="margin-top:15px;">
        <a class="btn btn-primary btn-sm text-white" style="padding-left:56px;padding-right:56px;margin-right:56px" asp-controller="Room" asp-action="TestListView">繼續購物</a>
        <a class="GoCheckout btn btn-primary btn-sm text-white" style="padding-left:56px;padding-right:56px;" asp-controller="Checkout" asp-action="PayData">前往結帳</a>
    </p>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    $(".GoCheckout").click(async function(){
        const RoomId = Number($(".RoomId").html());
        const RoomName = ($(".RoomName").html());
        const RoomPrice = Number($(".RoomPrice").html());
        //const ActivityName = Number($(".ActivityName").html());

        const Qty = Number($(".Qty").html());
        //const count = Number($(".count").html());


        const json = {
            "RoomId": RoomId,
            //"ActivityName": ActivityName,
            "RoomName": RoomName,
            "RoomPrice": RoomPrice,
            "Qty": Qty
            //"count": count,
        }
        
        const jsonString = JSON.stringify(json);
        const response = await fetch("@Url.Content("~/CheckOut/GetPayData")" + `?jsonString=${jsonString}`);
        const data = await response.text();
        if (data == "1") {
            window.location.href = ('@Url.Content("~/CheckOut/PayData")')
        }

    })

    $("#couponBtn").click(async function () {
        var s = {
            "price": @sum,
            "count": Number($(".Qty").html()),
            "Coupon": $("#coupon").val(),
        };
        let data = JSON.stringify(s);
        $.ajax({
            type: "GET",
            url: "@Url.Content("~/Cart/AddCouponToCart")"+`?input=${data}`,
        }).done(function(result) {
            if (result != @sum) {
                toastr["success"]("已使用優惠碼！");
            } else { 
                toastr["error"]("無此優惠碼！");
            }
            $("#price").html(result);
        })
    });
</script>

<style>

    .progressbar {
        counter-reset: step;
    }

        .progressbar li {
            list-style-type: none;
            width: 25%;
            float: left;
            font-size: 16px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #7d7d7d;
                top: 15px;
                left: -50%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: green;
            }

                .progressbar li.active:before {
                    border-color: #55b776;
                }

                .progressbar li.active + li:after {
                    background-color: #55b776;
                }
</style>





