@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIND HOTEL</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/notice.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>

<body>
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> (02) 6631-6588</li>
                            <li>
                                <a href="mailto:FIND HOTEL@gmail. com?cc=molly021456@gmail.com&subject=這是一個主旨&body=xxx 您好：%0D%0A我想問的事情是%0D%0A回信請回到" class="fa fa-envelope"></a>
                                    FIND HOTEL@gmail. com
                             </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="bk-btn">立即訂房</a>
                            <div class="language-option">
                                <img src="~/img/TAIWAN.png">
                                <span>TW <i class="fa fa-angle-down"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                                    <li>
                                        @*<a asp-area="" asp-controller="Room" asp-action="ListView">搜好房</a>*@
                                        <a asp-area="" asp-controller="Room" asp-action="TestListView">搜好房</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tour1">家庭房</a>
                                            </li>
                                            <li>
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tour2">雙人房</a>
                                            </li>
                                            <li>
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tour3">單人房</a>
                                            </li>
                                            <li>
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tour4">團體包棟</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>好康專區</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a asp-area="" asp-controller="Discount" asp-action="DiscountMain">折扣</a>
                                            </li>
                                            <li>
                                                <a asp-area="" asp-controller="Activity" asp-action="ActivityDisplay">活動</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="AddHotel" asp-action="Index">刊登旅宿</a>
                                    </li>
                                    @{ if ((@Accessor.HttpContext.Session.GetString("Power")) == null || (@Accessor.HttpContext.Session.GetString("Power")) == "")
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="MemberCreate" asp-action="Login">登入</a>
                                            </li>
                                            <li>
                                                <a asp-area="" asp-controller="MemberCreate" asp-action="Register">註冊</a>
                                            </li>
                                        }
                                        else
                                        {
                                            if ((@Accessor.HttpContext.Session.GetString("Power")) != "管理員")
                                            {
                                                <li>
                                                    <a asp-area="" asp-controller="MemberOnly" asp-action="MemnerMainPage">會員專區</a>
                                                    <ul class="dropdown">
                                                        <li>
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="MemberPasswordEdit">更改密碼</a>
                                                        </li>
                                                        <li>
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="MemberPersonalData">個人資料</a>
                                                        </li>
                                                        <li>
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">購物車</a>
                                                        </li>
                                                        <li>
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="LikeList">追蹤清單</a>
                                                        </li>
                                                        <li>
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">訂單紀錄</a>
                                                        </li>
                                                        <li>
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">歷史評論</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            }
                                            <li>
                                                <a asp-area="" asp-controller="MemberCreate" asp-action="Logout">登出</a>
                                            </li>
                                        }
                                    }
                                    <li>
                                        <a asp-area="" asp-controller="Order" asp-action="AddToCart">
                                            <img src="~/img/cart_shopping.png" />購物車
                                        </a>
                                    </li>
                                    <li id="notification">
                                        <div class="icon" onclick="toggleNotifi()">
                                            <img src="~/img/notice_icon.png" alt=""> <span>01</span>
                                        </div>
                                        <div class="notifi-box" id="box">
                                            <h2>通知欄<span>01</span></h2>
                                            <div class="notifi-item">
                                                <div class="text">
                                                    <h4>最佳活動體驗</h4>
                                                    <p class="text">
                                                        @Html.ActionLink("立即點選", "ActivityDisplay", "Activity", null, null)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    @{ if (@Accessor.HttpContext.Session.GetString("Power") == "管理員")
                                        {
                                            <li>
                                                <a asp-area="" asp-controller="MemberOnly" asp-action="AdminMainPage">
                                                    後臺管理~
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>






    @RenderBody()
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/10e2f2fe75.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)



    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="~/img/contact.png" />  @*..絕對路徑  ~為相對路徑*@
                                </a>
                            </div>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>聯絡我們</h6>
                            <ul>
                                <li>(02)6631-6588(臺北窗口)</li>
                                <li>FIND HOTEL@gmail.com</li>
                                <li>台北市大安區復興南路一段390號2樓(大安捷運站4號、6號出口)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>省時又省錢！</h6>
                            <p>現在訂閱，我們將寄送最佳訂房優惠給您。</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">聯繫我們</a></li>
                            <li><a href="#">使用條款</a></li>
                            <li><a href="#">隱私</a></li>
                            <li><a href="#">本網站內容由© 2022FIND HOTEL 保留所有權利</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

@section Scripts{ 
<script>
    var box = document.getElementById('box');
    var down = false;

    function toggleNotifi() {
        if (down) {
            box.style.height = '0px';
            box.style.opacity = 0;
            down = false;
        } else {
            box.style.height = '510px';
            box.style.opacity = 1;
            down = true;
        }
    }
</script>
}