@model List<PJ_MSIT143_team02.Models.Room>

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/roomDetailStyle.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />

<section class="rooms-section spad">
    <div class="container">
        @foreach (var item in Model){
        <div id="carouselExampleIndicators" class="carousel slide col-lg-12" data-bs-ride="true">
            @await Component.InvokeAsync("Image", new { id = item.RoomId })
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-lg-12">
            <div id="nav" class="col-lg-12">
                <hr />
                <ul>
                    <li><a href="#roomname">房間名稱</a></li>
                    <li><a href="#roomintro">房間介紹</a></li>
                    <li><a href="#roomfacility">設施與服務</a></li>
                    <li><a href="#comment">住宿評鑑</a></li>
                    <li><a href="#roomlocation">地點</a></li>
                    <li>
                        NT @Html.DisplayFor(model => item.RoomPrice)起
                    </li>
                    <li>
                        預訂間數:
                        <button type="button" class="btn btn-secondary" id="roomminus">-</button>
                        <input type="text" id="roomnum" style="text-align:center;width:30px" value="1">
                        <button type="button" class="btn btn-secondary" id="roomplus">+</button>
                    </li>
                    <li>
                        @if (item.Qty > 0)
                        {
                            <button class="bbtn" id="add" style="text-decoration: none;">
                                <span>立即訂房</span>
                            </button>
                        }
                        else
                        {
                            <span id="cart" class="text-muted">商品缺貨中</span>
                        }
                    </li>
                    @*<li><a class="bbtn" id="addcart" style="text-decoration: none;" onclick="ShowMessage()"
                               asp-controller="Cart" asp-action="Index" asp-route-Id="@Model.RoomId">加入購物車</a>
                        </li>*@
                </ul>
                <hr />
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div id="content">
                        <div>
                            <p style="float:right;font-size:19px">
                                剩餘間數: @Html.DisplayFor(model => item.Qty)
                            </p>
                            <h4 id="roomname">@Html.DisplayFor(model => item.RoomName)</h4>
                            <p id="roomlocation">
                                <a id="location" target="_blank">@Html.DisplayFor(model => item.Address)</a>
                            </p>
                            <hr />
                            <p id="roomintro">@Html.DisplayFor(model => item.RoomIntrodution)</p>
                        </div>
                        <div>
                            <hr />
                            <h4 id="roomfacility">重點設施</h4>
                            <br />
                        </div>
                        <div>
                            @await Component.InvokeAsync("Equipment", new { id = item.RoomId })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="sidebar">
                        <h4>優惠</h4>
                        <br />
                        @await Component.InvokeAsync("Discount")
                        <hr />
                        <h4>探索房源附近的活動</h4>
                        <br />
                        @await Component.InvokeAsync("Activity", new { RoomID = item.RoomId })
                    </div>
                </div>
            </div>
            <br />
            <div class="col-lg-7 ">
                <div class="row">
                    <div id="comment">
                        @await Component.InvokeAsync("CommentCreate", new { id = item.RoomId})
                        <br /><br />
                        <hr />
                        @await Component.InvokeAsync("Comment", new { id = item.RoomId})
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function (){
            $("#location").attr("href", "https://www.google.com/maps/dir//" + $("#location").html());
            if (@Html.DisplayFor(model => model[0].Qty) < 1) {
                $("#roomminus").attr("disabled", true);
                $("#roomnum").attr("disabled", true);
                $("#roomplus").attr("disabled", true);
            }
        })
        $("#roomminus").click(function () { 
            var i = Number($("#roomnum").val());
            if(i > 1)
                i -= 1;
            $("#roomnum").val(i);
        });
        $("#roomplus").click(function () { 
            var i = Number($("#roomnum").val());
            if(i < @Html.DisplayFor(model => model[0].Qty))
                i += 1;
            $("#roomnum").val(i);
        });
        $("#addcomment").click(async function () {
            let roomId = Number($("#RoomId").val());
            let commentPoint = Number($("#CommentPoint").val());
            let commentDetail = $("#CommentDetail").val();
            var s = {
                "RoomId": roomId,
                "CommentPoint": commentPoint,
                "CommentDetail": commentDetail,
            };
            let data = JSON.stringify(s);
            $("#cdata").html($("#cdata").html() + "<div class='breadcrumb-text' style='text-align:left'>" +
                    "<h5 style='font-size:17px'>評論者:</h5>" +
                    "<p></p>" +
                    "<h5 style='font-size:17px'>評分:</h5>" +
                    `<p>${commentPoint} / 5</p>` +
                    `<p>${commentDetail}</p>` +
                    "</div>" +
                    "<hr />");
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/Comment/Create")" + `?input=${data}`,
            })
        });
        $("#add").click(function(){
            if ($("#roomnum").val() > @Html.DisplayFor(model => model[0].Qty)) {
                alert("加入購物車數量大於庫存數");
            } else if ($("#roomnum").val() < 1) {
                alert("加入購物車數量小於1");
            } else {
                var s = {
                    "RoomId": Number(@Html.DisplayFor(model => model[0].RoomId)),
                    "count": Number($("#roomnum").val()),
                };
                let data = JSON.stringify(s);
                $.ajax({
                     type: "GET",
                     url: "@Url.Content("~/Cart/AddtoCart")"+`?input=${data}`,
                     success: ShowMessage()
                })            
                var i = Number($("#roomnum").val());
                i += i;
                if (i > @Html.DisplayFor(model => model[0].Qty)) { 
                    toastr["warning"]("已達庫存上限！");
                    $("#add").attr("disabled", true);
                }
            }
        });
        function ShowMessage() {
            toastr["success"]("商品已加入購物車！");
        }

        let isClick = false;
        $(".imgbox img").mouseenter(mouseover);
        $(".imgbox img").mouseleave(mouseout);
        $(".imgbox img").click(click);
        $(".imgbox img").dblclick(dblclick);

        function mouseover() {
            if (isClick) return;
            let selected = $(this).index()+1;
            $("#CommentPoint").val(selected);
            $(`.imgbox img:lt(${selected})`).attr("src", "../../img/starhover.gif");
        }
        function mouseout() {
            if (isClick) return;
            let selected = "";
            $("#CommentPoint").val(selected);
            $(".imgbox img").attr("src", "../../img/star.gif");
        }
        function click() {
            isClick = true;
            let selected = $(this).index()+1;
            $("#CommentPoint").val(selected);
            $(this.nextSibling).prevAll().attr("src", "../../img/starhover.gif").end().nextAll().attr("src", "../../img/star.gif");
        }
        function dblclick() {
            isClick = false;
            let selected = "";
            $("#CommentPoint").val(selected);
            $(".imgbox img").attr("src", "../../img/star.gif");
        }
    </script>
}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex-grow: 0;
        margin: 7px;
        padding: 5px;
    }

    .overflow-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
</style>

