@using PagedList
@using PagedList.Mvc
@model IPagedList<PJ_MSIT143_team02.Models.Room>

@{
    ViewData["Title"] = "TestListView";
}

<link rel="stylesheet" type="text/css" href="~/css/rooms.css">
<link rel="stylesheet" media="screen and (max-width:768px)" href="~/css/rooms-mobile.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
<div id="mainbox" style="background-image: url(../../img/background/搜好房背景圖.png)">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>房間一覽</h2>
                        @using (Html.BeginForm())
                        {
                            @:關鍵字 @Html.TextBox("txtKeyword", "", new { @class = "form-control" }) <input type="submit" value="查詢" class="btn btn-secondary" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="room-description">
        <div class="container">
            <div class="row">
                @{

                    int count = 0;
                    foreach (PJ_MSIT143_team02.Models.Room r in Model)
                    {
                        count++;
                                <div class="description">
                                    <div class="description-inner">
                                        <img class="img1" src="~/assets/img2/steven-ungermann-aRT5UCf2MYY-unsplash.jpg" alt="#">
                                        <p class="room-price" id="priceid">@r.RoomPrice</p>
                                        <p class='room-status'>@r.RoomName</p>
                                        <ul>
                                            <li style="color:black">@r.RoomIntrodution</li>
                                            <li style="color:black">@r.Address</li>
                                        </ul>
                                        <a class="bbtn" href="@Url.Action("Details", new { id = r.RoomId })">
                                            <span>立即預訂</span>
                                            <img class="arrow" src='~/assets/img2/Icon ionic-ios-arrow-round-forward.svg' alt='#'>
                                        </a>
                                        <a href="../Member/AddLikeList?ItemId=@r.RoomId">
                                            <img src="~/Image/heart.png" style="width:30px ;height:30px" />
                                        </a>
                                        <br />
                                    </div>
                                </div>
                       @Html.PagedListPager(Model, PagedList => Url.Action("TestListView", new { page }))
                    };
                }
            </div>
        </div> 
     
    </section>
   
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/10e2f2fe75.js" crossorigin="anonymous"></script>
}
