@model IEnumerable<PJ_MSIT143_team02.Models.Room>

@{
    ViewData["Title"] = "TestListView";
}

<link rel="stylesheet" type="text/css" href="~/css/rooms.css">
<link rel="stylesheet" media="screen and (max-width:768px)" href="~/css/rooms-mobile.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
<div id="mainbox" style="background-image: url(../../img/background/搜好房背景圖.png)">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>房間一覽</h2>
                        @using (Html.BeginForm())
                        {
                            <label>關鍵字:</label>
                            <input type="text" id="keyword" name="txtKeyword">
                            <label for="date-in">入住時間:</label>
                            <input type="text" class="date-input" id="date-in" name="mydatein">
                            <i class="icon_calendar"></i>
                            <label for="date-out">退房時間:</label>
                            <input type="text" class="date-input" id="date-out" name="mydateout">
                            <i class="icon_calendar"></i>
                            <br />
                            <label for="date-in">旅客:</label>
                            <button type="button" class="btn btn-secondary" id="minus">-</button>
                            <input type="text" id="num" style="text-align:right;width:30px">
                            <button type="button" class="btn btn-secondary" id="plus">+</button>
                            <label for="date-in">剩餘客房間數:</label>
                            <button type="button" class="btn btn-secondary" id="roomminus">-</button>
                            <input type="text" id="roomnum" name="txtQty" style="text-align:right;width:30px">
                            <button type="button" class="btn btn-secondary" id="roomplus">+</button>
                            <input type="submit" value="查詢" class="btn btn-secondary" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3 d-sm-block d-none">
            <div class="bg-white px-4 py-2 rounded">
                <div class="dropdown-divider mb-3 border-white"></div>
                <h3 class="mb-3">客房設施</h3>
                <form class="mb-3">
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="breakfast-included">
                        <label class="form-check-label" for="breakfast-included">
                            電視
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="free-wi-fi">
                        <label class="form-check-label" for="free-wi-fi">
                            免費 Wi-Fi
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="swimming-pool">
                        <label class="form-check-label" for="swimming-pool">
                            空調
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="swimming-pool">
                        <label class="form-check-label" for="swimming-pool">
                            冰箱
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="swimming-pool">
                        <label class="form-check-label" for="swimming-pool">
                            冰箱
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="swimming-pool">
                        <label class="form-check-label" for="swimming-pool">
                            陽台/露臺
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="swimming-pool">
                        <label class="form-check-label" for="swimming-pool">
                            暖氣
                        </label>
                    </div>
                </form>
                <div class="dropdown-divider mb-3 border-white"></div>

                <h3 class="mb-3">每晚預算</h3>
                <form class="mb-3">
                    <div class="form-group">
                        <input type="range" class="form-control-range" id="formControlRange" style="width: 100%">
                    </div>
                    <ul class="list-unstyled d-flex justify-content-between align-items-center">
                        <li>
                            <p class="m-0 bg-white p-2 px-3 rounded">
                                下限<br><small class="text-black-50">TWD 0+</small>
                            </p>
                        </li>
                        <li>
                            <p class="m-0 bg-white p-2 px-3 rounded">
                                上限<br><small class="text-black-50">TWD 100000</small>
                            </p>
                        </li>
                    </ul>
                </form>
                <div class="dropdown-divider mb-3 border-white"></div>

                <h3 class="mb-3">星級</h3>
                <form class="mb-3">
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" name="rating" value="option1" type="radio" id="five-star">
                        <label class="form-check-label" for="five-star">
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <span class="text-black-50">5.0</span>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" name="rating" value="option2" type="radio" id="four-star">
                        <label class="form-check-label" for="four-star">
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <span class="text-black-50">4.0</span>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" name="rating" value="option3" type="radio" id="three-star">
                        <label class="form-check-label" for="three-star">
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <span class="text-black-50">3.0</span>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" name="rating" value="option4" type="radio" id="two-star">
                        <label class="form-check-label" for="two-star">
                            <i class="fas fa-star mr-1"></i>
                            <i class="fas fa-star mr-1"></i>
                            <span class="text-black-50">2.0</span>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" name="rating" value="option5" type="radio" id="one-star">
                        <label class="form-check-label" for="one-star">
                            <i class="fas fa-star mr-1"></i>
                            <span class="text-black-50">1.0</span>
                        </label>
                    </div>
                </form>
                <div class="dropdown-divider mb-3 border-white"></div>

                <h3 class="mb-3">住宿類型</h3>
                <form class="mb-3">
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hotel">
                        <label class="form-check-label" for="hotel">
                            飯店
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="apartment">
                        <label class="form-check-label" for="apartment">
                            渡假村
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="unique">
                        <label class="form-check-label" for="unique">
                            汽車旅館/摩鐵
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                        <label class="form-check-label" for="hostel">
                            民宿
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                        <label class="form-check-label" for="hostel">
                            青年旅館
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                        <label class="form-check-label" for="hostel">
                            飯店式公寓
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                        <label class="form-check-label" for="hostel">
                            度假別墅
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                        <label class="form-check-label" for="hostel">
                            私人別墅
                        </label>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-8 col-12 room-card">
            @{
                int count = 0;
                foreach (PJ_MSIT143_team02.Models.Room r in Model)
                {
                    count++;
                    <h2 class="d-sm-none d-block text-center mb-4">@r.RoomName<sup class="text-primary small">@r.RoomName</sup></h2>
                    <div class="btn-group btn-group-lg d-flex justify-content-around mb-3 d-sm-none d-block">
                        <button type="button" class="btn border-right">
                            <i class="fas fa-align-left mr-4"></i>Filter
                        </button>
                        <button type="button" class="btn">
                            <i class="fas fa-align-left mr-4"></i>sort
                        </button>
                    </div>
                    <div class="mobile-bg-secondary">
                        <div class="card border-0 mb-sm-4 mb-2">
                            <div class="row no-gutters">

                                <div class="col-4">
                                    <img class="img1" src="~/assets/img2/steven-ungermann-aRT5UCf2MYY-unsplash.jpg" alt="#">
                                </div>
                                <div class="col-8">
                                    <div class="card-body position-relative d-flex flex-column justify-content-center py-2 pr-sm-3 p-0">
                                        <div class="card-score d-flex justify-content-between flex-lg-row flex-column">
                                            <small class="text-primary d-flex">
                                                @r.RoomName
                                                <span class="text-black-50 d-lg-block d-none"></span>
                                            </small>
                                            <ul class="list-unstyled d-flex align-items-center m-0">
                                                <li class="mr-1"><i class="fas fa-star"></i></li>
                                                <li class="mr-1"><i class="fas fa-star"></i></li>
                                                <li class="mr-1"><i class="fas fa-star"></i></li>
                                                <li class="mr-1"><i class="fas fa-star"></i></li>
                                                @*<p class="text-black-50">4.0 (283)</p>*@
                                            </ul>
                                        </div>
                                        <ul class="list-unstyled m-sm-0 m-1">
                                            <li>
                                                <h3 class="card-title">@r.RoomName</h3>
                                            </li>
                                            <li>
                                                @*<p class="card-text text-black-80 m-0">
                                @r.RoomIntrodution
                            </p>*@
                                            </li>
                                            <li>
                                                <p class="card-text small text-black-50">
                                                </p>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled d-lg-flex align-items-center m-0 d-lg-block d-none">
                                            <li>
                                                <span class="badge badge-pill badge-primary text-black-50 mr-3">
                                                    @r.RoomIntrodution
                                                </span>
                                            </li>
                                            <li>
                                                <span class="badge badge-pill badge-primary text-black-50">@r.Address</span>
                                            </li>
                                        </ul>
                                        <div class="money-block text-right d-flex flex-column">
                                            <small class="text-black-50 d-lg-block d-none">每晚價錢</small>
                                            <p class="h3 m-0">@r.RoomPrice</p>
                                        </div>
                                        <!-- badge樣式沒有作用??另外寫css的 -->
                                    </div>
                                    <a href="../Member/AddLikeList?ItemId=@r.RoomId">
                                        <img src="~/Image/heart.png" style="width:30px ;height:30px" />
                                    </a>
                                </div>
                            </div>
                            <a class="bbtn" href="@Url.Action("Details", new { id = r.RoomId})">
                                <span>立即預訂</span>
                                <img class="arrow" src='~/assets/img2/Icon ionic-ios-arrow-round-forward.svg' alt='#'>
                            </a>
                        </div>
                        <div class="dropdown-divider d-lg-block d-none"></div>
                    </div>
                    @*@Html.PagedListPager(Model, PagedList => Url.Action("TestListView", new { page }))*@
                };
            }
        </div>
                
        </div>

        </div>


                @*//-----------------------------------------------------------------------------------------------------*@




        @section Scripts{
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/10e2f2fe75.js" crossorigin="anonymous"></script>
            <script>
                $("#minus").click(function () {
                    var i = Number($("#num").val());
                    if (i > 1)
                        i -= 1;
                    $("#num").val(i);
                });
                $("#plus").click(function () {
                    var i = Number($("#num").val());
                    i += 1;
                    $("#num").val(i);
                });
                $("#roomminus").click(function () {
                    var i = Number($("#roomnum").val());
                    if (i > 1)
                        i -= 1;
                    $("#roomnum").val(i);
                });
                $("#roomplus").click(function () {
                    var i = Number($("#roomnum").val());
                    i += 1;
                    $("#roomnum").val(i);
                });
            </script>
        }
