@*@model IEnumerable<PJ_MSIT143_team02.Models.Room>*@

@model PJ_MSIT143_team02.ViewModels.CKeywordViewModel

@{
    ViewData["Title"] = "TestListView";
}

<link rel="stylesheet" type="text/css" href="~/css/rooms.css">
<link rel="stylesheet" media="screen and (max-width:768px)" href="~/css/rooms-mobile.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
<div id="mainbox" style="background-image: url(../../img/background/搜好房背景圖.png)">
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>房間一覽</h2>
                        @using (Html.BeginForm())
                        {
                            <label>關鍵字:</label>
                            <input type="text" id="keyword" name="txtKeyword">
                            <label for="date-in">入住時間:</label>
                            <input type="text" class="date-input" id="date-in" name="mydatein">
                            <i class="icon_calendar"></i>
                            <label for="date-out">退房時間:</label>
                            <input type="text" class="date-input" id="date-out" name="mydateout">
                            <i class="icon_calendar"></i>
                            <br />
                            <label for="date-in">旅客:</label>
                            <button type="button" class="btn btn-secondary" id="minus">-</button>
                            <input type="text" id="num" style="text-align:right;width:30px">
                            <button type="button" class="btn btn-secondary" id="plus">+</button>
                            <label for="date-in">剩餘客房間數:</label>
                            <button type="button" class="btn btn-secondary" id="roomminus">-</button>
                            <input type="text" id="roomnum" name="txtQty" style="text-align:right;width:30px">
                            <button type="button" class="btn btn-secondary" id="roomplus">+</button>
                            <input type="submit" value="查詢" class="btn btn-secondary" />
                        }
                    </div>
                </div>
            </div>
            <div class="dropdown-divider d-lg-block d-none"></div>
            <div class="row">
                <div class="col-sm-3 d-sm-block d-none" style="border-radius:12px">
                    <div class="bg-white px-4 py-2 rounded">
                        <div class="dropdown-divider mb-3 border-white"></div>
                        <h3 class="mb-3">客房設施</h3>

                        <form class="mb-3">
                            @{
                                var eqArry = @Model.Equipment.ToArray();
                                for (var i = 0; i <= 5; i++)
                                {
                                    <div class="form-check mb-2" id="dxbox">
                                        <input class="form-check-input rounded-0 border-dark" type="checkbox" id="@eqArry[i].EquipmentId" onclick="calc(@eqArry[i].EquipmentId)">
                                        <label class="form-check-label" for="@eqArry[i].EquipmentId">
                                            @eqArry[i].EquipmentName
                                        </label>
                                    </div>
                                };
                            }
                        </form>


                        <div class="dropdown-divider mb-3 border-white"></div>
                        <div>
                            <p>
                                <h3 class="mb-3" for="amount">每晚預算</h3>
                                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                            </p>
                            <div id="slider-range"></div>
                        </div>
                        <div class="dropdown-divider mb-3 border-white"></div>

                        <h3 class="mb-3">星級</h3>
                        <form class="mb-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" name="rating" value="option1" type="radio" id="five-star">
                                <label class="form-check-label" for="five-star">
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <span class="text-black-50">5.0</span>
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" name="rating" value="option2" type="radio" id="four-star">
                                <label class="form-check-label" for="four-star">
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <span class="text-black-50">4.0</span>
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" name="rating" value="option3" type="radio" id="three-star">
                                <label class="form-check-label" for="three-star">
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <span class="text-black-50">3.0</span>
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" name="rating" value="option4" type="radio" id="two-star">
                                <label class="form-check-label" for="two-star">
                                    <i class="fas fa-star mr-1"></i>
                                    <i class="fas fa-star mr-1"></i>
                                    <span class="text-black-50">2.0</span>
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" name="rating" value="option5" type="radio" id="one-star">
                                <label class="form-check-label" for="one-star">
                                    <i class="fas fa-star mr-1"></i>
                                    <span class="text-black-50">1.0</span>
                                </label>
                            </div>
                        </form>
                        <div class="dropdown-divider mb-3 border-white"></div>

                        <h3 class="mb-3">住宿類型</h3>
                        <form class="mb-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hotel">
                                <label class="form-check-label" for="hotel">
                                    飯店
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" type="checkbox" id="apartment">
                                <label class="form-check-label" for="apartment">
                                    渡假村
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" type="checkbox" id="unique">
                                <label class="form-check-label" for="unique">
                                    汽車旅館/摩鐵
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                                <label class="form-check-label" for="hostel">
                                    民宿
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                                <label class="form-check-label" for="hostel">
                                    青年旅館
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                                <label class="form-check-label" for="hostel">
                                    飯店式公寓
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                                <label class="form-check-label" for="hostel">
                                    度假別墅
                                </label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input rounded-0 border-dark" type="checkbox" id="hostel">
                                <label class="form-check-label" for="hostel">
                                    私人別墅
                                </label>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-9 col-12 room-card" @*id="display-items-div"*@ id="hhh" style="border-radius:12px">
                    @{
                        int q = 0;
                        foreach (var r in Model.Room)
                        {
                            q++;
                            <h2 class="d-sm-none d-block text-center mb-4">@r.RoomName<sup class="text-primary small">@r.RoomName</sup></h2>
                            <div class="btn-group btn-group-lg d-flex justify-content-around mb-3 d-sm-none d-block">
                                <button type="button" class="btn border-right">
                                    <i class="fas fa-align-left mr-4"></i>Filter
                                </button>
                                <button type="button" class="btn">
                                    <i class="fas fa-align-left mr-4"></i>sort
                                </button>
                            </div>
                            <div class="mobile-bg-secondary">
                                <div class="card border-0 mb-sm-4 mb-2">
                                    <div class="row no-gutters">

                                        <div class="col-4" style="padding-top:25px;padding-left:11px;padding-bottom:25px">
                                            <img src="@Url.Action("ShowPhoto","Room", new {roomId= r.RoomId })" style=" padding:5px; height:200px" />
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body position-relative d-flex flex-column justify-content-center py-2 pr-sm-3 p-0">
                                                <div class="card-score d-flex justify-content-between flex-lg-row flex-column">
                                                    <small class="text-primary d-flex">

                                                        <span class="text-black-50 d-lg-block d-none"></span>
                                                    </small>
                                                    <ul class="list-unstyled d-flex align-items-center m-0">
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                                <ul class="list-unstyled m-sm-0 m-1" style="padding-left:10px;">
                                                    <li>
                                                        <h3 class="card-title">@r.RoomName</h3>
                                                    </li>
                                                    <li>
                                                        <p class="card-text small text-black-50">
                                                        </p>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled d-lg-flex align-items-center m-0 d-lg-block d-none" style="padding-left:10px;">
                                                    <li>
                                                        <span class="badge badge-pill badge-info text-black mr-3">
                                                            @r.RoomIntrodution.Substring(0, 16)<span>...</span>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="badge badge-pill badge-info text-black mr-3">@r.Address</span>
                                                    </li>
                                                </ul>
                                                <div class="money-block text-right d-flex flex-column">
                                                    <small class="text-black-50 d-lg-block d-none" style="font-size:20px">每晚價錢</small>
                                                    <p class="h3 m-0" id="RoomPrice">$@r.RoomPrice.ToString("###,###,##0")</p>
                                                </div>
                                                <!-- badge樣式沒有作用另外寫css的 -->
                                            </div>
                                            <button class="bbtn" style="text-decoration: none;background-color:transparent;margin-left:375px;border:none;" value="@r.RoomId" id="likeButton">
                                                <span id="likelist">
                                                    <a class="d-flex justify-content-end" href="~/Member/AddLikeList?ItemId=@r.RoomId"  >
                                                        <img src="~/Image/heart.png" style="width:45px ;height:45px" />
                                                    </a>
                                                </span>
                                            </button>
                                            <button class="bbtn" style="text-decoration: none;background-color:#514525;float:right;margin-right:15px">
                                                <span>
                                                    <a href="@Url.Action("Details", new { id = r.RoomId})" style="font-size:24px;text-decoration:none;color: #ffffff;font-family:'Playfair Display', serif;">
                                                        立即查看
                                                    </a>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider d-lg-block d-none"></div>
                            </div>
                        };
                    }
                </div>

            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/10e2f2fe75.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />

    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9999,
                values: [500, 8888],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + "- $" + ui.values[1]);
                    var min = ui.values[0];
                    var max = ui.values[1];

                    $.ajax({
                        type: 'GET',
                        url: '/Room/Search/' + min + '/' + max,
                        success: function (result) {
                            let qq = document.querySelector("#hhh");
                            qq.innerHTML = "";
                            let div = document.createElement("div");
                            div.className = "mobile-bg-secondary";
                            console.log(result);
                            result.forEach(function (data) {
                                let roomIntrodution = data.roomIntrodution;
                                let roomIntSub = roomIntrodution.substring(0, 16);
                                let roomdatas =
                                    ` <div class="card border-0 mb-sm-4 mb-2">
                                    <div class="row no-gutters">
                                        <div class="col-4" style="padding-top:25px;padding-left:11px;padding-bottom:25px">
                                            <img src='@Url.Content("~/Room/ShowPhoto/?roomId=")${data.roomId}'  style=" padding:5px; height:200px" />
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body position-relative d-flex flex-column justify-content-center py-2 pr-sm-3 p-0">
                                                <div class="card-score d-flex justify-content-between flex-lg-row flex-column">
                                                    <small class="text-primary d-flex">

                                                        <span class="text-black-50 d-lg-block d-none"></span>
                                                    </small>
                                                    <ul class="list-unstyled d-flex align-items-center m-0">
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                                <ul class="list-unstyled m-sm-0 m-1" style="padding-left:10px;">
                                                    <li>
                                                        <h3 class="card-title">${data.roomName}</h3>
                                                    </li>
                                                    <li>
                                                        <p class="card-text small text-black-50">
                                                        </p>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled d-lg-flex align-items-center m-0 d-lg-block d-none" style="padding-left:10px;">
                                                    <li>
                                                        <span class="badge badge-pill badge-info text-black mr-3">
                                                            ${roomIntSub}...
                                                        </span>
                                                    </li>
                                                </ul>
                                                <div class="money-block text-right d-flex flex-column">
                                                    <small class="text-black-50 d-lg-block d-none" style="font-size:20px">每晚價錢</small>
                                                    <p class="h3 m-0" id="RoomPrice">NT$${data.roomPrice}</p>
                                                </div>
                                                <!-- badge樣式沒有作用另外寫css的 -->
                                            </div>
                                            <button class="bbtn" style="text-decoration: none;background-color:transparent;margin-left:375px;border:none;">
                                                <span>
                                                    <a class="d-flex justify-content-end" href="../Member/AddLikeList?ItemId=${data.roomId}">
                                                        <img src="/Image/heart.png" style="width:45px ;height:45px" />
                                                    </a>
                                                </span>
                                            </button>
                                            <button class="bbtn" style="text-decoration: none;background-color:#514525;float:right;margin-right:15px">
                                                <span>
                                                    <a href='@Url.Content("~/Room/Details/?id=")${data.roomId}' style="font-size:24px;text-decoration:none;color: #ffffff;font-family:'Playfair Display', serif;">
                                                        立即預訂
                                                    </a>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider d-lg-block d-none"></div>
                                </div>`
                                div.innerHTML += roomdatas;
                            })
                            qq.append(div);
                        }
                });
                }
            });
            $("#date-in").val("16 NOVEMBER, 2022");
            $("#date-out").val("18 NOVEMBER, 2022");
            $("#num").val(2);
            $("#roomnum").val(2);
        });
    </script>
    <script>
        $(document).ready(function () {
            var outputSpan = $('#spanOutput');
            var sliderDiv = $('#slider');

            sliderDiv.slider({
                range: true,
                min: 10,
                max: 1000000,
                values: [10, 1000000],
                slide: function (event, ui) {
                    outputSpan.html(ui.values[0] + ' - ' + ui.values[1]);
                },
                stop: function (event, ui) {
                    $('#txtMinAge').val(ui.values[0]);
                    $('#txtMaxAge').val(ui.values[1]);
                }
            });

            outputSpan.html(sliderDiv.slider('values', 0) + ' - '
                + sliderDiv.slider('values', 1));
            $('#txtMinAge').val(sliderDiv.slider('values', 0));
            $('#txtMaxAge').val(sliderDiv.slider('values', 1));
        });

    </script>
    <script>
        $("#minus").click(function () {
            var i = Number($("#num").val());
            if (i > 1)
                i -= 1;
            $("#num").val(i);
        });
        $("#plus").click(function () {
            var i = Number($("#num").val());
            i += 1;
            $("#num").val(i);
        });
        $("#roomminus").click(function () {
            var i = Number($("#roomnum").val());
            if (i > 1)
                i -= 1;
            $("#roomnum").val(i);
        });
        $("#roomplus").click(function () {
            var i = Number($("#roomnum").val());
            i += 1;
            $("#roomnum").val(i);
        });
    </script>
    <script>
        function calc(eqID) {
           var shopUrl = "@Url.Action("forEquipment", "Room")" + "?Equipment=" + eqID;
            $.ajax({
                type: "GET",
                url: shopUrl,
            }).done(function (result) {  //done完成後右邊的房間列表，讀取選取設備後新ㄉ房間

                let qq = document.querySelector("#hhh");
                qq.innerHTML="";
                let div = document.createElement("div");
                div.className = "mobile-bg-secondary";
                result.forEach(function (data) {
                    let roomIntrodution = data.roomIntrodution;
                    let roomIntSub = roomIntrodution.substring(0, 16);
                    let roomdatas =
                        ` <div class="card border-0 mb-sm-4 mb-2">
                                    <div class="row no-gutters">
                                        <div class="col-4" style="padding-top:25px;padding-left:11px;padding-bottom:25px">
                                            <img src='@Url.Content("~/Room/ShowPhoto/?roomId=")${data.roomId}'  style=" padding:5px; height:200px" />
                                        </div>
                                        <div class="col-8">
                                            <div class="card-body position-relative d-flex flex-column justify-content-center py-2 pr-sm-3 p-0">
                                                <div class="card-score d-flex justify-content-between flex-lg-row flex-column">
                                                    <small class="text-primary d-flex">

                                                        <span class="text-black-50 d-lg-block d-none"></span>
                                                    </small>
                                                    <ul class="list-unstyled d-flex align-items-center m-0">
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                        <li class="mr-1"><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                                <ul class="list-unstyled m-sm-0 m-1" style="padding-left:10px;">
                                                    <li>
                                                        <h3 class="card-title">${data.roomName}</h3>
                                                    </li>
                                                    <li>
                                                        <p class="card-text small text-black-50">
                                                        </p>
                                                    </li>
                                                </ul>
                                                <ul class="list-unstyled d-lg-flex align-items-center m-0 d-lg-block d-none" style="padding-left:10px;">
                                                    <li>
                                                        <span class="badge badge-pill badge-info text-black mr-3">
                                                            ${roomIntSub}...
                                                        </span>
                                                    </li>

                                                </ul>
                                                <div class="money-block text-right d-flex flex-column">
                                                    <small class="text-black-50 d-lg-block d-none" style="font-size:20px">每晚價錢</small>
                                                    <p class="h3 m-0" id="RoomPrice">NT$${data.roomPrice}</p>
                                                </div>
                                                <!-- badge樣式沒有作用另外寫css的 -->
                                            </div>
                                            <button class="bbtn" style="text-decoration: none;background-color:transparent;margin-left:375px;border:none;">
                                                <span>
                                                    <a class="d-flex justify-content-end" href="../Member/AddLikeList?ItemId=${data.roomId}">
                                                        <img src="/Image/heart.png" style="width:45px ;height:45px" />
                                                    </a>
                                                </span>
                                            </button>
                                            <button class="bbtn" style="text-decoration: none;background-color:#514525;float:right;margin-right:15px">
                                                <span>
                                                    <a href='@Url.Content("~/Room/Details/?id=")${data.roomId}' style="font-size:24px;text-decoration:none;color: #ffffff;font-family:'Playfair Display', serif;">
                                                        立即預訂
                                                    </a>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider d-lg-block d-none"></div>
                                </div>`
                    div.innerHTML += roomdatas;
                })
                qq.append(div);
            }).fail(function (e) {
                alert(e.responseText);
            });

        }
        $('#likelist').on("click", function () {
            toastr["success"]("已加入追蹤清單！");
        })
    </script>

}
