@model PJ_MSIT143_team02.ViewModels.CRoomMemberViewModel
@{
    ViewData["Title"] = "PayData";
}

<div>
    <p>　</p>
    <ul class="progressbar">
        <li class="active">購物車</li>
        <li class="active">訂單資料</li>
        <li>建立訂單</li>
        <li>付款</li>
    </ul>
    <p>　</p>
    <p>　</p>
</div>

<h4>訂單資料</h4>
<hr />
<form asp-action="CreateOrder">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*<input type="hidden" asp-for="Id" />*@
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">訂房人資料</h5>
                <div class="form-group">
                    <label asp-for="@Model.房源及會員.FirstOrDefault().MemberId" class="control-label">訂房人ID</label>
                    <input asp-for="@Model.房源及會員.FirstOrDefault().MemberId" readonly class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.房源及會員.FirstOrDefault().MemberAccount" class="control-label">訂房人帳號</label>
                    <input asp-for="@Model.房源及會員.FirstOrDefault().MemberAccount" readonly class="form-control" />
                </div>
            </div>
        </div>
        <p></p>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">訂房人資料</h5>
                <div class="row">
                    <div class="form-group col">
                        <label asp-for="@Model.房源及會員.FirstOrDefault().MemberName" class="control-label">訂房人姓名</label>
                        <input asp-for="@Model.房源及會員.FirstOrDefault().MemberName" class="form-control" />
                        <span asp-validation-for="@Model.房源及會員.FirstOrDefault().MemberName" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label asp-for="@Model.房源及會員.FirstOrDefault().MemberPhone" class="control-label">訂房人電話</label>
                        <input asp-for="@Model.房源及會員.FirstOrDefault().MemberPhone" class="form-control" />
                        <span asp-validation-for="@Model.房源及會員.FirstOrDefault().MemberPhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.房源及會員.FirstOrDefault().MemberEmail" class="control-label">訂房人信箱</label>
                    <input asp-for="@Model.房源及會員.FirstOrDefault().MemberEmail" class="form-control" />
                    <span asp-validation-for="@Model.房源及會員.FirstOrDefault().MemberEmail" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>

    @{
        decimal sum = 0;
        sum += Model.房源及會員.FirstOrDefault().小計;

    }


    <div class="col-4">
        <div class="card" style="background-color: #f8f9fa">
            @*<input type="hidden" asp-for="OrderItem" />*@
            <div class="card-body">
                <h5 class="card-title">訂單內容</h5>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>商品名稱</th>
                            <th>小計</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @if (@Model.房源及會員.FirstOrDefault().ActivityId == 0)
                            {
                            <td class="RoomName">
                                @Model.房源及會員.FirstOrDefault().RoomName
                            </td>
                            }
                            else if (@Model.房源及會員.FirstOrDefault().RoomId == 0)
                            {
                        <td class="RoomName">
                            活動:   @Model.房源及會員.FirstOrDefault().ActivityName
                        </td>
                            }
                            <td>@Model.房源及會員.FirstOrDefault().小計</td>

                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="text-right">
                    @*<input type="hidden" asp-for="TotalPrice" />*@
                    <p class="card-text font-weight-bolder" style="padding-right:12px">總計: $@sum.ToString("###,###,##0") </p>
                    @if (sum == @Model.房源及會員.FirstOrDefault().DisPrice)
                    {
                        <p class="card-text font-weight-bolder" style="padding-right:12px">未使用優惠碼</p>
                    } 
                    else
                    {
                        <p class="card-text font-weight-bolder" style="padding-right:12px">折扣後金額: $@Model.房源及會員.FirstOrDefault().DisPrice.ToString("###,###,##0")</p>
                    }                   
                </div>
                <p></p>
                <div class="text-center card-link">
                    <button type="submit" class="btn btn-success w-75">建立訂單</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<p></p>
<a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Index","Cart")"><i class="fas fa-angle-left"></i> 返回購物車</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>

    .progressbar {
        counter-reset: step;
    }

        .progressbar li {
            list-style-type: none;
            width: 25%;
            float: left;
            font-size: 16px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #7d7d7d;
                top: 15px;
                left: -50%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: green;
            }

                .progressbar li.active:before {
                    border-color: #55b776;
                }

                .progressbar li.active + li:after {
                    background-color: #55b776;
                }
</style>
